body	{
    font-family: "Stone Sans", "Century Gothic", "Gill Sans", Arial, "Sans Serif";
		color: #444;
		font-size: 0.9em;

		width: 1000px;
		margin: auto;
}

div#topbar {	
		background-image: url('../images/hor_bar.gif');
		background-repeat: no-repeat;
		background-position: 0px 92px;

		height: 95px;
		color: #092869;
		padding: 30px;
}

img#logo {	position: relative; 
		float: right;
		z-index:2;}

div#content {
	width: 900px; margin:auto}
div#menu {	
	}

#menu ul {		
		position: relative;
		bottom: 0px;
		margin-left: 15px;
		padding: 5px;
		padding-top: 40px;
		width: 140px;
		list-style: none;
	}
#menu li {
		padding: 5px;
		padding-left: 10px;
		color: #888;}

#menu a {	
		color: #888;
		text-decoration:none;
}

#menu a:hover {	
		color: #444;
}

a { color: #666; }
a:visited { color: #666; }
a:hover { color: #5a78e9; background-color:#fff; }

h1 {color: #092869;
		font-size: 1.3em;}
a img {border: 0px;}


.notetext {
		color: #aaa;
		font-size: 60%;
}

fieldset legend {color: #092869;}

fieldset#chi {
		float: left;		
		width: 40%;
		height: 9em;}

fieldset#consultations {
		float:right;
		height: 9em;
}

fieldset#harm {
		clear: both;
		width: 97%;}

fieldset#trigger {
		float: right;
		width: 75%;}


#consultations th {width: 7em}
#consultations td {text-align: center}

#consultations input {
		width: 40px;
		text-align: center;}

#patient_comment {
		width: 99%;
		height: 2.8em;
}

select {
		background-color: white;
		color: #092869;
		border: #aaa solid thin;}

/* SafeQuest Specific Below here */
fieldset {
		border: #0391bf solid thin;
		margin-bottom: 1em;		
		margin-top: 1em;
		padding: 1em;
	}

table.questiontable {
		border-spacing: 0px;
		margin: -1em;
}

tr.alternatingtable1 {background-color: #e4f0fb}
td.question {
		color: #092869;
		height: 4em;
		padding-left: 0.7em;
		padding-right: 0.7em;
		padding: auto;
		margin: auto;
		min-width: 60%}
td.radioicons{
		white-space: nowrap;
		text-overflow:hidden;}
td.radiokeyright {
		color: #aaa;
		font-size: 0.8em;}
td.radiokeyleft {
		color: #aaa;
		font-size: 0.8em;
		text-align: right;}

