<p>
  <b>Name:</b>
  <%=h @service_length.name %>
</p>

<p>
  <b>Order:</b>
  <%=h @service_length.order %>
</p>


<%= link_to 'Edit', edit_service_length_path(@service_length) %> |
<%= link_to 'Back', service_lengths_path %>